<p>
  <button class="go-back" (click)="goToMovies()">Back</button>
</p>

<div *ngIf="movie">
  <img [src]="movie.Poster" [alt]="movie.Title">
  <h3>{{movie.Title}}</h3>
  <h4>Cinemaworld: ${{movie.CinemaworldPrice}}</h4>
  <h4>Filmworld: ${{movie.FilmworldPrice}}</h4>
</div>

<div *ngIf="!movie">
  <h3>Unable to load movie.</h3>
  <button class="retry" (click)="retry()">Retry</button>
</div>
