<h2>Classic Movies At Home</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>

<div *ngIf="!apiError && movies.length > 0" class="o-layout">
  <div *ngFor="let movie of movies" class="o-layout__item u-1/3@tablet">
    <div class="movie">
      <a [routerLink]="movie.ID">{{movie.Title}}</a>
    </div>
  </div>
</div>

<div *ngIf="apiError">
  <h3>Unable to load movies.</h3>
  <button class="retry-button" (click)="getMovies()">Retry</button>
</div>
